.background-pokemon {
  margin-top: 2rem;
  background: linear-gradient(to top right, #ffe1c6, #ffcb05);
  border-radius: 20px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.detail-pokemon h1 {
  color: #ffcb05;
  -webkit-text-stroke: 2.5px #2c72b8;
  margin: 30px 0;
  font-family: "Roboto-black";
  font-size: 36px;
}

.detail-pokemon img {
  height: 100%;
}

.type-container {
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  gap: 38px;
}

.type-container div {
  width: 120px;
  font-family: "Roboto-black";
}
