header {
    padding: 3px 0;
}

header img:hover {
    cursor: pointer;
}

.header-bar {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

header input {
    width: 247px;
    border-radius: 50px;
    border: none;
    padding: 6px 18px;
    font-family: "Roboto";
}

header input::placeholder {
    font-size: 1rem;
    color: #909090;
}
